body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

li {
	list-style: none;
}
.btn-class {
	background-color: #21b573;
	color: #ffffff !important;
	border-radius: 30px;
}
.btn-class a {
	color: #fff !important;
	text-decoration: none;
}
/* Header Css Start */
#header {
	width: 100%;
	height: 576px;
	background-color: #f0fff0;
}
.header .nav_bar {
	margin-top: 10px;
}
#header h2 {
	font-weight: bold;
	padding: 10px 0px;
}
#header span {
	color: #21b573;
}
#header a {
	color: #000000;
	font-size: 14px;
	padding: 10px 25px;
	text-decoration: none;
}
#header p {
	color: #6c6b6b;
	font-size: 14px;
	margin-bottom: 25px;
}
#header .left_side {
	padding: 50px 100px;
	margin-top: 60px;
}
#header .right_side {
	margin-top: 100px;
}
#header .nav_bar img {
	height: 35px;
}

#header .right_side img {
	width: 100%;
}

/* Header Css End */

/* School Info Start */
.school_info {
	padding: 60px 70px;
}
.school_info img {
	width: 25%;
	margin-bottom: 20px;
}
.school_info .item {
	background-color: #f0fff0;
	text-align: center;
	height: 250px;
	border-radius: 10px;
	padding: 60px 20px;
}

.focus {
	background-color: #ffffff !important;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
/* School Info Start */

/* Online Courses Css Start */

.online_courses {
	padding: 60px 70px;
}
.course {
	background: #ffffff;
	box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
	border-radius: 18px;
	width: 100%;
	height: 380px;
}
.course .course_img {
	text-align: center;
}
.course .course_img img {
	width: 90%;
	margin-top: 10px;
}
.course_bottom img {
	width: 15px;
	height: 15px;
}
.course_bottom {
	margin-top: 40px;
}
.course_buy_area {
	padding: 0px 20px;
}
.buy_course {
	padding: 4px 15px;
	width: 137px;
	background: #21b573;
	border-radius: 33px;
	color: #fff;
}

/* Online Courses Css End */
.testimonial {
	margin-top: 60px;
}
.testimonial p {
	font-size: 15px;
	padding: 20px 30px;
	line-height: 25px;
}
.testimonial img {
	width: 110px;
	height: 110px;
}
/* Testimonial Start */

/* Footer Start  */
footer {
	margin-top: 100px;
	background-color: #282531;
	height: 370px;
	color: #fff;
}
.footer {
	position: relative;
	top: 70px;
}
/* Footer End  */
